body{
    background-image: url("../img/pink%20dust.png");
    color: #E5DFC5;
}

.about{
    background-color: #2a2f35;
}
.navbar{
    border-bottom: #f24f65 3px solid;

}

.navbar-no{
    opacity: 1;
    background: #34373d;
}
html, body{
    height: 100%;
}

.pink{
    color: #f24f65;
}

#front-title{
    font-weight: bold;
}

.largeish{
    font-size: 20px;
}

.title{
    padding-top: 80px;
}


.about-head{
    padding: 154px 0 100px;
    background: #e1e1e1;
    color: #34373d;
}

.references{
    background: #2a2f35;
    word-wrap: break-word;
}

.sec{
    padding: 25px;
}
.par{
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: justify;
}
.about{
    color: #E5DFC5;
    text-align: center;
    background: #34373d;
}

.about-me{
    text-align: justify;
}

.large-title{
    color:#f24f65;
    font-size: 32px;
    text-align: center;
    
}


.pp{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
}

.footer{
padding-top: 20px;}

sup{
    color: #f24f65;
}


.quote{
    font-style: italic;
    text-align: justify;
    line-height: 1.3em;
    font-size: 18px;
        color: #f24f65;
}


section {
  padding: 120px 0;
}



.social {
    margin: 0;
    padding: 20px;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social ul li a {
    color: #f24f65;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}


.social .fa-facebook:hover {
    color: white;
}

.social .fa-twitter:hover {
    color: white;
}

.social .fa-github:hover {
    color: white;
}

